Package: libfprint-dev
Source: libfprint
Version: 1:1.94.10-1
Architecture: amd64
Maintainer: Shubham <shubham@unknown>
Installed-Size: 48
Depends: libfprint-2-2 (= 1:1.94.10-1)
Section: libs
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: Development files for libfprint
 Development headers and pkg-config files for libfprint.
