Source: libfprint
Section: libs
Priority: optional
Maintainer: Shubham <shubham@unknown>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/libfprint
#Vcs-Git: https://salsa.debian.org/debian/libfprint.git

Package: libfprint-dev
Architecture: any
Depends: libfprint-2-2 (= ${binary:Version}), ${misc:Depends}
Description: Development files for libfprint
 Development headers and pkg-config files for libfprint.

Package: libfprint-2-2
Architecture: any
Multi-Arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
